In [1]:
import pandas as pd

In [30]:
df=pd.DataFrame()

#class DataFrame(): 
#    def __init__(self):

class Student():
    def __init__(self):
        self.name='Kevin'
        self.grade='A'
    
student_A=Student()
student_B=Student()
print(student_A.name)
print(student_B.name)

Kevin
Kevin

In [2]:
purchase_csv = "./Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_csv)

In [32]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#total number of players
#purchase_df.dtypes
player_number = len(purchase_df["SN"].unique())
player_number

576

In [33]:
# purchase_df.loc[rows, columns]
# purchase_df.loc[[row1, row2], [column1, column2]]
# purchase_df.loc[:, 'SN']

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [40]:
# data={
#   'Total': player_number
#   }
# player_summary=pd.DataFrame(data, index=[0])
data={
    'Total': [player_number]
    }
player_summary=pd.DataFrame(data)
# player_summary=pd.DataFrame({"Total Players": [player_number]})
player_summary

   Total
0    576

In [6]:
item_count = len(purchase_df["Item ID"].unique()) 
num_purchases = purchase_df["Item ID"].count()
# total_revenue = purchase_df["Price"].sum()
total_revenue = sum(purchase_df["Price"])
average_price = ('${:.2f}'.format(total_revenue/num_purchases))
summary_df= pd.DataFrame({"Number of Unique Items": [item_count],
                        "Average Price": [average_price],
                        "Number of Purchases": [num_purchases],
                        "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [41]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [50]:
grouped_df=purchase_df.loc[:, ['Gender', 'Price']].groupby('Gender')
# this is a Series with 'Gender' as index
gender_avg_price=grouped_df['Price'].mean()
gender_count=grouped_df['Gender'].count()
summary=pd.DataFrame(gender_avg_price, columns=['Average Price'])
summary['Total Count']=gender_count
summary

                      Average Price  Total Count
Gender
Female                          NaN          113
Male                            NaN          652
Other / Non-Disclosed           NaN           15

In [7]:
df_gb = purchase_df.groupby(['Gender'])
df_gb = df_gb['SN'].unique()
df_group_male = pd.DataFrame(data={'Male':df_gb['Male']})
malecount = len(df_group_male)
df_group_female = pd.DataFrame(data={'Female':df_gb['Female']})
femalecount = len(df_group_female)
df_group_other = pd.DataFrame(data={'Other / Non-Disclosed':df_gb['Other / Non-Disclosed']})
othercount = len(df_group_other)
percentmale=round((malecount/(malecount+femalecount+othercount)*100),2)
percentfemale=round((femalecount/(malecount+femalecount+othercount)*100),2)
percentother=round((othercount/(malecount+femalecount+othercount)*100),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                        'Total Count':[malecount, femalecount, othercount],
                        'Percentage of Players': [percentmale, percentfemale, percentother]})
gn_output = pd.DataFrame(gender_data)
gn_output['Percentage of Players'] = gn_output['Percentage of Players'].map('{:.2f}%'.format)
gn_output

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [8]:
#CODE for Purchasing Analysis by Gender
#purchase_df.groupby('Gender',sort = True)['Item ID'].count()
by_gender = purchase_df.groupby('Gender')
malecount = len(by_gender.groups["Male"])
femalecount = len(by_gender.groups["Female"])
othercount = len(by_gender.groups["Other / Non-Disclosed"])
gender_purchase = purchase_df.groupby('Gender').sum()['Price']
female_pp = round((gender_purchase['Female']),2) 
male_pp = round((gender_purchase['Male']),2)
other_pp = round((gender_purchase['Other / Non-Disclosed']),2)
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = round((total_purchase_pp['Female']),2)
avg_malpp = round((total_purchase_pp['Male']),2)
avg_othpp = round((total_purchase_pp['Other / Non-Disclosed']),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                       'Purchase Count': [malecount, femalecount, othercount],
                        'Average Purchase Price': [avg_malpp, avg_fempp, avg_othpp],
                        'Total Purchase Value': [male_pp, female_pp, other_pp],
                        'Avg Total Puchase per Person':[malecount, malecount, malecount]})
gender_data = pd.DataFrame(gender_data)
gender_data

#gender_data['Total Purchase Value']= list(purchase_df.groupby('Gender').sum()['Price'])
#gender_data['Average Purchase Price'] = list(purchase_df.groupby('Gender').sum()[])
#gender_data['Average Purchase Price'] = purchase_df.groupby(['Gender']).agg({'Price': "mean"})


# with a DataFrame, you can perform math between two columns
# 'Total Purchase Value' / 'Purchase Count'

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Puchase per Person
0,Male,652,3.02,1967.64,652
1,Female,113,3.20,361.94,652
2,Other/Non-Disclosed,15,3.35,50.19,652

In [9]:
#CODE REFERENCES
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = total_purchase_pp['Female']
avg_fempp
#gender_purchase = purchase_df.groupby('Gender').sum()['Price']
#female_pp = round((gender_purchase['Female']),2) 
#female_pp
#total_value_male = pd.DataFrame(data={'Male':by_gender.groups['Male']}).count()
#total_value_male
#total_purchase_pp = purchase_df.groupby(['Gender']).agg({'Price': "mean"})
#total_purchase_pp

3.203008849557519

In [10]:
# purchase_df.groupby(['Age']).count()["Price"]

In [58]:
subset_df=purchase_df.loc[:, ['SN', 'Age']]
subset_df['Age_bin']=pd.cut(subset_df['Age'], bins=5)
print(len(subset_df))
subset_df=subset_df.drop_duplicates('SN')
print(len(subset_df))
subset_df=subset_df.drop('Age', axis=1)
# subset_df.groupby('Age_bin').count()/780

780
576

                     SN
Age_bin
(6.962, 14.6]  0.050000
(14.6, 22.2]   0.343590
(22.2, 29.8]   0.223077
(29.8, 37.4]   0.092308
(37.4, 45.0]   0.029487

In [14]:
#Age Demographics

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_groups = pd.cut(purchase_df["Age"], bins, labels=group_names)



#finds count of each age group
age_totals = age_groups.value_counts()

#only count UNIQUE!!

# df = purchase_df.groupby(['SN']).count()["Price"]
# age_totals = purchase_df.drop_duplicates()
#age_totals = purchase_df.drop_duplicates(subset=None, keep='first', inplace=False)

player_number = len(purchase_df['SN'].unique())
age_pct = (age_totals / player_number) * 100

#Create DF
age_pop = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": age_pct})
age_pop = age_pop.sort_index()
age_pop['Percentage of Players'] = age_pop['Percentage of Players'].map('{:.2f}%'.format)
age_pop

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

In [15]:
#Puchasing Analysis

bins = [0, 9, 14, 19, 24, 29, 34, 39, 75]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_groups = pd.cut(purchase_df["Age"], bins, labels=group_names)

df = purchase_df.groupby(['Price'])
# age_purchase_value = df.mean()['Price']

#finds count of each age group
all_count = age_groups.value_counts()

#find avg purchase price
# top_spend_avg = df.mean()['Price']

#find total purchase value
# top_spend = df.sum()["Price"]


#Create DF
age_pop = pd.DataFrame({"Total Count": all_count, 
#                         "Average Purchase Price": all_count,
#                        "Total Purchase Value": all_purchase, 
#                         "Avg Total Purchase per Person": age_count
                       })
age_pop = age_pop.sort_index()
age_pop

       Total Count
<10             23
10-14           28
15-19          136
20-24          365
25-29          101
30-34           73
35-39           41
40+             13

In [16]:
#Top Spenders
df = purchase_df.groupby(['SN'])
top_spend_group = purchase_df['Price']
top_spend = purchase_df['SN'].value_counts()

# CALCULATE AVG PURCHASE PRICE AND COUNT
top_spend_average = df.mean()['Price']
top_spend_count = df.count()['Price']

#Calculate Total Purchase Value
top_spend = df.sum()["Price"]

top_spend_group = pd.DataFrame({"Purchase Count": top_spend_count, "Average Purchase Price": top_spend_average,
                       "Total Purchase Value": top_spend})

top_spend_group = top_spend_group.sort_values("Total Purchase Value", ascending=False)
top_spend_group.head(5)

# age_pop = age_pop.sort_index()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [17]:
#MOST POPULAR ITEMS

#Extract 3 columns I need
popular_items = purchase_df[['Item ID', 'Item Name', 'Price']]

purchase_df['Item ID'].value_counts()

popular_group = popular_items.groupby(['Item ID', 'Item Name']).count()
item_count = purchase_df['Item Name'].value_counts()
item_id = purchase_df['Item ID'].value_counts
# popular_group = popular_group['Item ID'].unique()
# purchase_df('Item_ID').unique()
popular_group = pd.DataFrame({'Item ID': item_id, 
                             'Item Name': item_count,
                             'Purchase Count': popular_group,
                             'Item Price': item_id,
                             'Total Purchase Value': item_id})
popular_group.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
Final Critic,<bound method IndexOpsMixin.value_counts of 0 ...,13,"(P, r, i, c, e)",<bound method IndexOpsMixin.value_counts of 0 ...,<bound method IndexOpsMixin.value_counts of 0 ...
"Oathbreaker, Last Hope of the Breaking Storm",<bound method IndexOpsMixin.value_counts of 0 ...,12,"(P, r, i, c, e)",<bound method IndexOpsMixin.value_counts of 0 ...,<bound method IndexOpsMixin.value_counts of 0 ...
Persuasion,<bound method IndexOpsMixin.value_counts of 0 ...,9,"(P, r, i, c, e)",<bound method IndexOpsMixin.value_counts of 0 ...,<bound method IndexOpsMixin.value_counts of 0 ...
Nirvana,<bound method IndexOpsMixin.value_counts of 0 ...,9,"(P, r, i, c, e)",<bound method IndexOpsMixin.value_counts of 0 ...,<bound method IndexOpsMixin.value_counts of 0 ...
Fiery Glass Crusader,<bound method IndexOpsMixin.value_counts of 0 ...,9,"(P, r, i, c, e)",<bound method IndexOpsMixin.value_counts of 0 ...,<bound method IndexOpsMixin.value_counts of 0 ...

In [18]:
# Most popular item code

In [19]:
purchase_df['Item ID'].value_counts()

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64

In [20]:
purchase_df['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Fiery Glass Crusader                             9
                                                ..
Endbringer                                       1
Betrayer                                         1
Gladiator's Glaive                               1
The Decapitator                                  1
Ghost Reaver, Longsword of Magic                 1
Name: Item Name, Length: 179, dtype: int64

In [364]:
purchase_df['Price']

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64

In [268]:
#Most Profitable Items