In [349]:
import pandas as pd

In [350]:
purchase_csv = "./Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_csv)

In [351]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [352]:
#total number of players
#purchase_df.dtypes
player_number = len(purchase_df["SN"].unique())
player_number

576

In [353]:
player_summary=pd.DataFrame({"Total Players": [player_number]})
player_summary

   Total Players
0            576

In [354]:
item_count = len(purchase_df["Item ID"].unique()) 
num_purchases = purchase_df["Item ID"].count()
total_revenue = sum(purchase_df["Price"])  
average_price = ('${:.2f}'.format(total_revenue/num_purchases))
summary_df= pd.DataFrame({"Number of Unique Items": [item_count],
                        "Average Price": [average_price],
                        "Number of Purchases": [num_purchases],
                        "Total Revenue": [total_revenue]})  
summary_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [355]:
df_gb = purchase_df.groupby(['Gender'])
df_gb = df_gb['SN'].unique()
df_group_male = pd.DataFrame(data={'Male':df_gb['Male']})
malecount = len(df_group_male)
df_group_female = pd.DataFrame(data={'Female':df_gb['Female']})
femalecount = len(df_group_female)
df_group_other = pd.DataFrame(data={'Other / Non-Disclosed':df_gb['Other / Non-Disclosed']})
othercount = len(df_group_other)
percentmale=round((malecount/(malecount+femalecount+othercount)*100),2)
percentfemale=round((femalecount/(malecount+femalecount+othercount)*100),2)
percentother=round((othercount/(malecount+femalecount+othercount)*100),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                        'Total Count':[malecount, femalecount, othercount],
                        'Percentage of Players': [percentmale, percentfemale, percentother]})
gn_output = pd.DataFrame(gender_data)
gn_output['Percentage of Players'] = gn_output['Percentage of Players'].map('{:.2f}%'.format)
gn_output

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [356]:
#CODE for Purchasing Analysis by Gender
#purchase_df.groupby('Gender',sort = True)['Item ID'].count()
by_gender = purchase_df.groupby('Gender')
malecount = len(by_gender.groups["Male"])
femalecount = len(by_gender.groups["Female"])
othercount = len(by_gender.groups["Other / Non-Disclosed"])
gender_purchase = purchase_df.groupby('Gender').sum()['Price']
female_pp = round((gender_purchase['Female']),2) 
male_pp = round((gender_purchase['Male']),2)
other_pp = round((gender_purchase['Other / Non-Disclosed']),2)
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = round((total_purchase_pp['Female']),2)
avg_malpp = round((total_purchase_pp['Male']),2)
avg_othpp = round((total_purchase_pp['Other / Non-Disclosed']),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                       'Purchase Count': [malecount, femalecount, othercount],
                        'Average Purchase Price': [avg_malpp, avg_fempp, avg_othpp],
                        'Total Purchase Value': [male_pp, female_pp, other_pp],
                        'Avg Total Puchase per Person':[malecount, malecount, malecount]})
gender_data = pd.DataFrame(gender_data)
gender_data

#gender_data['Total Purchase Value']= list(purchase_df.groupby('Gender').sum()['Price'])
#gender_data['Average Purchase Price'] = list(purchase_df.groupby('Gender').sum()[])
#gender_data['Average Purchase Price'] = purchase_df.groupby(['Gender']).agg({'Price': "mean"})

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Puchase per Person
0,Male,652,3.02,1967.64,652
1,Female,113,3.20,361.94,652
2,Other/Non-Disclosed,15,3.35,50.19,652

In [357]:
#CODE REFERENCES
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = total_purchase_pp['Female']
avg_fempp
#gender_purchase = purchase_df.groupby('Gender').sum()['Price']
#female_pp = round((gender_purchase['Female']),2) 
#female_pp
#total_value_male = pd.DataFrame(data={'Male':by_gender.groups['Male']}).count()
#total_value_male
#total_purchase_pp = purchase_df.groupby(['Gender']).agg({'Price': "mean"})
#total_purchase_pp

3.203008849557519

In [401]:
#Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 75]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_groups = pd.cut(purchase_df["Age"], bins, labels=group_names)

#only count UNIQUE!!


#finds count of each age group
age_count = age_groups.value_counts()



#Create DF
age_pop = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_pct})
age_pop = age_pop.sort_index()
age_pop

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

In [413]:
#Puchasing Analysis

bins = [0, 9, 14, 19, 24, 29, 34, 39, 75]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_groups = pd.cut(purchase_df["Age"], bins, labels=group_names)


#finds count of each age group
all_purchase = age_groups.value_counts()

#find avg purchase price

#find total purchase value


#Create DF
age_pop = pd.DataFrame({"Total Count": all_purchase, "Average Purchase Price": age_pct,
                       "Total Purchase Value": age_count, "Avg Total Purchase per Person": age_count})
age_pop = age_pop.sort_index()
age_pop

,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.99%,23,23
10-14,28,4.86%,28,28
15-19,136,23.61%,136,136
20-24,365,63.37%,365,365
25-29,101,17.53%,101,101
30-34,73,12.67%,73,73
35-39,41,7.12%,41,41
40+,13,2.26%,13,13

In [416]:
#Top Spenders
top_spend = purchase_df['SN'].value_counts()

# Calculate avg purchase price
# avg_pp = total_purchase_value / top_spend

#Calculate Total Purchase Value


top_spend_group = pd.DataFrame({"Purchase Count": top_spend, "Average Purchase Price": top_spend,
                       "Total Purchase Value": top_spend})
# age_pop = age_pop.sort_index()
top_spend_group.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                       5                     5
Iral74                    4                       4                     4
Idastidru52               4                       4                     4
Strithenu87               3                       3                     3
Hada39                    3                       3                     3

In [362]:
#Most Popular Items

popular_items = purchase_df[['Item ID', 'Item Name', 'Price']]

popular_group = popular_items.groupby(['Item ID', 'Item Name']).count()
# popular_group = popular_group['Item ID'].unique()
# purchase_df('Item_ID').unique()
popular_group = pd.DataFrame(popular_group)
popular_group

purchase_df['Item ID'].value_counts()

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64

In [363]:
item_count = purchase_df['Item Name'].value_counts()
item_name_count = pd.DataFrame(item_count)

item_name_count

                                              Item Name
Final Critic                                         13
Oathbreaker, Last Hope of the Breaking Storm         12
Fiery Glass Crusader                                  9
Persuasion                                            9
Nirvana                                               9
...                                                 ...
Exiled Mithril Longsword                              1
Celeste                                               1
The Decapitator                                       1
Betrayer                                              1
Alpha, Reach of Ending Hope                           1

[179 rows x 1 columns]

In [364]:
purchase_df['Price']

0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64

In [268]:
#Most Profitable Items