In [46]:
import pandas as pd

In [47]:
purchase_csv = "./Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_csv)

In [48]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
#total number of players
#purchase_df.dtypes
player_number = len(purchase_df["SN"].unique())
player_number

576

In [50]:
player_summary=pd.DataFrame({"Total Players": [player_number]})
player_summary

   Total Players
0            576

In [51]:
item_count = len(purchase_df["Item ID"].unique()) 
num_purchases = purchase_df["Item ID"].count()
total_revenue = sum(purchase_df["Price"])  
average_price = ('${:.2f}'.format(total_revenue/num_purchases))
summary_df= pd.DataFrame({"Number of Unique Items": [item_count],
                        "Average Price": [average_price],
                        "Number of Purchases": [num_purchases],
                        "Total Revenue": [total_revenue]})  
summary_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [52]:
df_gb = purchase_df.groupby(['Gender'])
df_gb = df_gb['SN'].unique()
df_group_male = pd.DataFrame(data={'Male':df_gb['Male']})
malecount = len(df_group_male)
df_group_female = pd.DataFrame(data={'Female':df_gb['Female']})
femalecount = len(df_group_female)
df_group_other = pd.DataFrame(data={'Other / Non-Disclosed':df_gb['Other / Non-Disclosed']})
othercount = len(df_group_other)
percentmale=round((malecount/(malecount+femalecount+othercount)*100),2)
percentfemale=round((femalecount/(malecount+femalecount+othercount)*100),2)
percentother=round((othercount/(malecount+femalecount+othercount)*100),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                        'Total Count':[malecount, femalecount, othercount],
                        'Percentage of Players': [percentmale, percentfemale, percentother]})
gn_output = pd.DataFrame(gender_data)
gn_output['Percentage of Players'] = gn_output['Percentage of Players'].map('{:.2f}%'.format)
gn_output

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [151]:
#purchase_df.groupby('Gender',sort = True)['Item ID'].count()
by_gender = purchase_df.groupby('Gender')
malecount = len(by_gender.groups["Male"])
femalecount = len(by_gender.groups["Female"])
othercount = len(by_gender.groups["Other / Non-Disclosed"])
gender_purchase = purchase_df.groupby('Gender').sum()['Price']
female_pp = round((gender_purchase['Female']),2) 
male_pp = round((gender_purchase['Male']),2)
other_pp = round((gender_purchase['Other / Non-Disclosed']),2)
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = round((total_purchase_pp['Female']),2)
avg_malpp = round((total_purchase_pp['Male']),2)
avg_othpp = round((total_purchase_pp['Other / Non-Disclosed']),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                       'Purchase Count': [malecount, femalecount, othercount],
                        'Average Purchase Price': [avg_malpp, avg_fempp, avg_othpp],
                        'Total Purchase Value': [male_pp, female_pp, other_pp],
                        'Avg Total Puchase per Person':[malecount, malecount, malecount]})
gender_data = pd.DataFrame(gender_data)
gender_data

#gender_data['Total Purchase Value']= list(purchase_df.groupby('Gender').sum()['Price'])
#gender_data['Average Purchase Price'] = list(purchase_df.groupby('Gender').sum()[])
#gender_data['Average Purchase Price'] = purchase_df.groupby(['Gender']).agg({'Price': "mean"})

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Puchase per Person
0,Male,652,3.02,1967.64,652
1,Female,113,3.20,361.94,652
2,Other/Non-Disclosed,15,3.35,50.19,652

In [150]:
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = total_purchase_pp['Female']
avg_fempp

3.203008849557519

In [143]:
gender_purchase = purchase_df.groupby('Gender').sum()['Price']
female_pp = round((gender_purchase['Female']),2) 
female_pp

361.94

In [106]:
total_value_male = pd.DataFrame(data={'Male':by_gender.groups['Male']}).count()
total_value_male

Male    652
dtype: int64

In [153]:
total_purchase_pp = purchase_df.groupby(['Gender']).agg({'Price': "mean"})
total_purchase_pp

#total_purchase_value = purchase_df.groupby(['Gender']).agg({'Price': "sum"})
#total_purchase_value

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [402]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [406]:
#Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 75]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df = pd.cut(purchase_df["Age"], bins, labels=group_names, include_lowest=True).unique()
df
#puchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_names)

[20-24, 40+, 35-39, 30-34, 25-29, 10-14, <10, 15-19]
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [399]:
#Puchasing Analysis

bins = [1, 9, 14, 19, 24, 29, 34, 39, 75]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df = pd.cut(purchase_df["Age"], bins=bins, labels=group_names, include_lowest=True).value_counts()
df
#agecount = df.groupby("Age").count()
#agecount
#df.max()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64