In [202]:
import pandas as pd

In [203]:
purchase_csv = "./Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_csv)

In [204]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [205]:
#total number of players
#purchase_df.dtypes
player_number = len(purchase_df["SN"].unique())
player_number

576

In [206]:
player_summary=pd.DataFrame({"Total Players": [player_number]})
player_summary

   Total Players
0            576

In [207]:
item_count = len(purchase_df["Item ID"].unique()) 
num_purchases = purchase_df["Item ID"].count()
# total_revenue = purchase_df["Price"].sum()
total_revenue = sum(purchase_df["Price"])
average_price = ('${:.2f}'.format(total_revenue/num_purchases))
summary_df= pd.DataFrame({"Number of Unique Items": [item_count],
                        "Average Price": [average_price],
                        "Number of Purchases": [num_purchases],
                        "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [209]:
df_gb = purchase_df.groupby(['Gender'])
df_gb = df_gb['SN'].unique()
df_group_male = pd.DataFrame(data={'Male':df_gb['Male']})
malecount = len(df_group_male)
df_group_female = pd.DataFrame(data={'Female':df_gb['Female']})
femalecount = len(df_group_female)
df_group_other = pd.DataFrame(data={'Other / Non-Disclosed':df_gb['Other / Non-Disclosed']})
othercount = len(df_group_other)
percentmale=round((malecount/(malecount+femalecount+othercount)*100),2)
percentfemale=round((femalecount/(malecount+femalecount+othercount)*100),2)
percentother=round((othercount/(malecount+femalecount+othercount)*100),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                        'Total Count':[malecount, femalecount, othercount],
                        'Percentage of Players': [percentmale, percentfemale, percentother]})
gn_output = pd.DataFrame(gender_data)
gn_output['Percentage of Players'] = gn_output['Percentage of Players'].map('{:.2f}%'.format)
gn_output

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [210]:
#CODE for Purchasing Analysis by Gender
#purchase_df.groupby('Gender',sort = True)['Item ID'].count()
by_gender = purchase_df.groupby('Gender')
malecount = len(by_gender.groups["Male"])
femalecount = len(by_gender.groups["Female"])
othercount = len(by_gender.groups["Other / Non-Disclosed"])
gender_purchase = purchase_df.groupby('Gender').sum()['Price']
female_pp = round((gender_purchase['Female']),2) 
male_pp = round((gender_purchase['Male']),2)
other_pp = round((gender_purchase['Other / Non-Disclosed']),2)
total_purchase_pp = purchase_df.groupby('Gender').mean()['Price']
avg_fempp = round((total_purchase_pp['Female']),2)
avg_malpp = round((total_purchase_pp['Male']),2)
avg_othpp = round((total_purchase_pp['Other / Non-Disclosed']),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                       'Purchase Count': [malecount, femalecount, othercount],
                        'Average Purchase Price': [avg_malpp, avg_fempp, avg_othpp],
                        'Total Purchase Value': [male_pp, female_pp, other_pp],
                        'Avg Total Puchase per Person':[malecount, malecount, malecount]})
gender_data = pd.DataFrame(gender_data)
gender_data

# with a DataFrame, you can perform math between two columns
# 'Total Purchase Value' / 'Purchase Count'

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Puchase per Person
0,Male,652,3.02,1967.64,652
1,Female,113,3.20,361.94,652
2,Other/Non-Disclosed,15,3.35,50.19,652

In [211]:
#Age Demographics

subset_df=purchase_df.loc[:, ['SN', 'Age']]

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

subset_df = pd.cut(subset_df["Age"], bins, labels=group_names)

#only count UNIQUE!!
# subset_df=subset_df.drop_duplicates('SN')


#finds count of each age group
age_totals = age_groups.value_counts()

# player_number = len(purchase_df['SN'].unique())
age_pct = (age_totals / player_number) * 100

#Create DF
age_pop = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": age_pct})
age_pop = age_pop.sort_index()
age_pop['Percentage of Players'] = age_pop['Percentage of Players'].map('{:.2f}%'.format)
age_pop

       Total Count Percentage of Players
<10             23                 3.99%
10-14           28                 4.86%
15-19          136                23.61%
20-24          365                63.37%
25-29          101                17.53%
30-34           73                12.67%
35-39           41                 7.12%
40+             13                 2.26%

In [212]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [249]:
#TOP PURCHASING ANALYSIS

subset_purchase_df=purchase_df.loc[:, ['SN', 'Age', 'Price']]
top_age_spenders = purchase_df['Price']

bins = [0, 9, 14, 19, 24, 29, 34, 39, 75]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

subset_purchase_df = pd.cut(subset_purchase_df["Age"], bins, labels=group_names)

# subset_data = subset_purchase_df.groupby['Price']
all_count = subset_purchase_df.value_counts()

#Calculate Avg Purchase Price and Total Purchase Value
# purchase_df["Age Groups"] = subset_purchase_df
#  = purchase_df.groupby['Age']
# top_age_spent = purchase_df.sum() 

top_age_spent = purchase_df['Price'].sum()
top_age_average = round((top_age_spent/all_count),2)


#create a dataframe

top_age_spenders = pd.DataFrame({"Purchase Count": all_count, "Average Purchase Price": top_age_average, 
                                 "Total Purchase Value": top_age_spent, "Avg Total Purchase per Person": top_age_average})
top_age_spenders = top_age_spenders.sort_index()
top_age_spenders

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,103.47,2379.77,103.47
10-14,28,84.99,2379.77,84.99
15-19,136,17.50,2379.77,17.50
20-24,365,6.52,2379.77,6.52
25-29,101,23.56,2379.77,23.56
30-34,73,32.60,2379.77,32.60
35-39,41,58.04,2379.77,58.04
40+,13,183.06,2379.77,183.06

In [164]:
#Top Spenders

df = purchase_df.groupby(['SN'])
top_spend_group = purchase_df['Price']
top_spend = purchase_df['SN'].value_counts()

# CALCULATE AVG PURCHASE PRICE AND COUNT
top_spend_average = round((df.mean()['Price']),2)
top_spend_count = df.count()['Price']

#Calculate Total Purchase Value
top_spend = df.sum()["Price"]

top_spend_group = pd.DataFrame({"Purchase Count": top_spend_count, "Average Purchase Price": top_spend_average,
                       "Total Purchase Value": top_spend})

top_spend_group = top_spend_group.sort_values("Total Purchase Value", ascending=False)
top_spend_group.head(5)

# age_pop = age_pop.sort_index()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [222]:
#MOST PROFITABLE GAMES

grouped_df = purchase_df.loc[:, ['Item ID', 'Item Name', 'Price']].groupby('Item ID')
# grouped_df = purchase_df.loc[:, ['Item ID', 'Item Name', 'Price']]
# grouped_df = purchase_df.groupby('Item ID')
top_game_group = purchase_df['Price']
top_game = purchase_df['Item ID'].value_counts()

#Columns to appear
top_game_name = grouped_df['Item Name']


#Game count
top_game_count = grouped_df.count()['Item Name']
top_game_price = round(grouped_df['Price'].sum()/(top_game_count),2)

#Game total sum
top_spend_total = grouped_df.sum()['Price']
top_game_group = pd.DataFrame({"Item Name": top_game_name, "Item Price": top_game_price, 
                               "Purchase Count": top_game_count, "Total Purchase Value": top_spend_total})

top_game_group = top_game_group.sort_values("Total Purchase Value", ascending=False)
top_game_group.head(5)

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
92,"(92, [Final Critic, Final Critic, Final Critic...",4.61,13,59.99
178,"(178, [Oathbreaker, Last Hope of the Breaking ...",4.23,12,50.76
82,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",4.90,9,44.10
145,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",4.58,9,41.22
103,"(103, [Singed Scalpel, Singed Scalpel, Singed ...",4.35,8,34.80

In [163]:
#LEAST PROFITABLE GAMES

# grouped_df = purchase_df.loc[:, ['Item ID', 'Item Name', 'Price']].groupby('Item ID')
grouped_df = purchase_df.loc[:, ['Item ID', 'Item Name', 'Price']]
grouped_df = purchase_df.groupby('Item ID')
top_game_group = purchase_df['Price']
top_game = purchase_df['Item ID'].value_counts()

#Columns to appear
top_game_name = grouped_df['Item Name']


#Game count
top_game_count = grouped_df.count()['Item Name']
top_game_price = round(grouped_df['Price'].sum()/(top_game_count),2)

#Game total sum
top_spend_total = grouped_df.sum()['Price']
top_game_group = pd.DataFrame({"Item Name": top_game_name, "Item Price": top_game_price, 
                               "Purchase Count": top_game_count, "Total Purchase Value": top_spend_total})

top_game_group = top_game_group.sort_values("Total Purchase Value")
top_game_group.head(5)

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
42,"(42, [The Decapitator])",1.75,1,1.75
104,"(104, [Gladiator's Glaive])",1.93,1,1.93
126,"(126, [Exiled Mithril Longsword])",2.00,1,2.00
125,"(125, [Whistling Mithril Warblade, Whistling M...",1.00,2,2.00
28,"(28, [Flux, Destroyer of Due Diligence, Flux, ...",1.06,2,2.12