In [388]:
import pandas as pd

In [389]:
purchase_csv = "./Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_csv)

In [390]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [392]:
#total number of players
#purchase_df.dtypes
player_number = len(purchase_df["SN"].unique())
player_number

576

In [393]:
player_summary=pd.DataFrame({"Total Players": [player_number]})
player_summary

   Total Players
0            576

In [394]:
item_count = len(purchase_df["Item ID"].unique()) 
num_purchases = purchase_df["Item ID"].count()
total_revenue = sum(purchase_df["Price"])  
average_price = round((total_revenue/num_purchases),2)
summary_df= pd.DataFrame({"Number of Unique Items": [item_count],
                        "Average Price": [average_price],
                        "Number of Purchases": [num_purchases],
                        "Total Revenue": [total_revenue]})  
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [395]:
df_gb = purchase_df.groupby(['Gender'])
df_gb = df_gb['SN'].unique()
df_group_male = pd.DataFrame(data={'Male':df_gb['Male']})
malecount = len(df_group_male)
df_group_female = pd.DataFrame(data={'Female':df_gb['Female']})
femalecount = len(df_group_female)
df_group_other = pd.DataFrame(data={'Other / Non-Disclosed':df_gb['Other / Non-Disclosed']})
othercount = len(df_group_other)
percentmale=round((malecount/(malecount+femalecount+othercount)*100),2)
percentfemale=round((femalecount/(malecount+femalecount+othercount)*100),2)
percentother=round((othercount/(malecount+femalecount+othercount)*100),2)
gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                        'Total Count':[malecount, femalecount, othercount],
                        'Percentage of Players': [percentmale, percentfemale, percentother]})
gn_output = pd.DataFrame(gender_data)
gn_output['Percentage of Players'] = gn_output['Percentage of Players'].map('{:.2f}%'.format)
gn_output

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [440]:
#average by gender
purchase_type_df = purchase_df[["Gender", "SN", "Price"]]
purchase_group = purchase_type_df.groupby(["Gender"])
#gender_group = ['Male', 'Female', 'Other / Non-disclosed']
#for x in gender_group[:]:
    #print (x)
purchase_comparison_df = purchase_group.mean()
purchase_comparison_df

#purchase_comparison_df["Price"] = purchase_comparison_df.sum(axis=1)

#purchase_comparison_df["Price"]
#purchase_type_df

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [419]:
#dataframe for Purchasing analysis by Gender
purchase_df.groupby('Gender', sort=False)['Item ID'].count()
#by_gender = purchase_df.groupby('Gender')
malecount = len(by_gender.groups["Male"])
femalecount = len(by_gender.groups["Female"])
othercount = len(by_gender.groups["Other / Non-Disclosed"])
purchase_df.groupby('Gender', sort=False)['Price']

#malepp = (by_gender.groups["Male"])/(malecount)

gender_data = ({'Gender': ['Male','Female','Other/Non-Disclosed'],
                        'Purchase Count': [malecount, femalecount, othercount],
                        'Average Purchase Price': [malecount, malecount, malecount],
                        'Total Purchase Value': [malecount, malecount, malecount],
                        'Avg Total Puchase per Person':[malecount, malecount, malecount]})
gender_data = pd. DataFrame(gender_data)
gender_data

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Puchase per Person
0,Male,652,652,652,652
1,Female,113,652,652,652
2,Other/Non-Disclosed,15,652,652,652

In [421]:
male = purchase_df[purchase_df['Gender']== 'Male'].sum()
#maleavg = male("Price")
#maleavg
male
#avgmale = sum("Price")/male

Purchase ID                                               255921
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        14942
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMa...
Item ID                                                    60698
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    1967.64
dtype: object

In [402]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [406]:
#Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 75]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df = pd.cut(purchase_df["Age"], bins, labels=group_names, include_lowest=True).unique()
df
#puchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_names)

[20-24, 40+, 35-39, 30-34, 25-29, 10-14, <10, 15-19]
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [399]:
#Puchasing Analysis

bins = [1, 9, 14, 19, 24, 29, 34, 39, 75]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df = pd.cut(purchase_df["Age"], bins=bins, labels=group_names, include_lowest=True).value_counts()
df
#agecount = df.groupby("Age").count()
#agecount
#df.max()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64